:host {
  border-top: 1px solid #005f69;
  padding: 32px 8px;

  &:hover,
  &:focus {
    background-color: #032a32;
  }
}

.change-point {
  position: relative;

  dp-date-picker {
    padding-right: 30px;
  }

  .btn {
    position: absolute;
    right: 0;
  }
}

.btn-add-change-point {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

::ng-deep dp-date-picker.dp-material .dp-picker-input {
  width: 100% !important;
  background: #758888;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 2px;
}
