<div class="container mt-5">
  <h2>About Prophector</h2>
  <p>Prophector is a web application that lets you analyze COVID-19 data and create forecasts.</p>

  <h3>Data Sources</h3>
  <p>
    The sources used are
    <a href="https://ourworldindata.org/coronavirus-source-data" rel="noopener noreferrer" target="_blank"
      >Our World in Data</a
    >
    and the
    <a href="https://www.covid19.admin.ch/api/data/context" rel="noopener noreferrer" target="_blank"
      >Federal Office of Public Health</a
    >.
  </p>
  <p>Data is scraped daily and filled into our database automatically.</p>

  <h3>Predictions</h3>
  <p>
    We use
    <a href="https://facebook.github.io/prophet/" rel="noopener noreferrer" target="_blank">Prophet</a> to
    create forecasting models. If you want to learn more how it works, check out their
    <a
      href="https://facebook.github.io/prophet/docs/quick_start.html"
      rel="noopener noreferrer"
      target="_blank"
      >documentation</a
    >. These are our favorites:
  </p>
  <ul>
    <li>
      <a
        href="https://facebook.github.io/prophet/docs/diagnostics.html"
        rel="noopener noreferrer"
        target="_blank"
        >Diagnostics</a
      >
    </li>
    <li>
      <a
        href="https://facebook.github.io/prophet/docs/trend_changepoints.html"
        rel="noopener noreferrer"
        target="_blank"
        >Trend Changepoints</a
      >
    </li>
    <li>
      <a
        href="https://facebook.github.io/prophet/docs/seasonality,_holiday_effects,_and_regressors.html"
        rel="noopener noreferrer"
        target="_blank"
        >Seasonality, Holiday Effects, And Regressors</a
      >
    </li>
  </ul>

  <h3>Source Code</h3>
  <p>
    The source code for this application can be found at
    <a href="https://github.com/Prophector" rel="noopener noreferrer" target="_blank">github.com/Prophector</a
    >.
  </p>

  <hr />
  <p class="alert alert-info">
    <b>Disclaimer:</b> We refrain from any legal binding regarding correctness of data or accuracy of
    forecasts created with our software. This is a best effort project and you can use it to inform yourself,
    but never rely on Prophector solely.
  </p>

  <p>
    Prophector has been created by
    <a href="https://sebastianhaeni.ch" rel="noopener noreferrer" target="_blank">Sebastian Häni</a> as part
    of a project at
    <a href="https://www.zhaw.ch/en/engineering//" rel="noopener noreferrer" target="_blank"
      >ZHAW School of Engineering</a
    >.
    <br />
    Copyright &copy; 2021
  </p>
</div>
